@{
    ViewData["Title"] = "Joel Hilton - About";
}
<div class="text-center">
    <h1 class="display-4">The one and only, Joel Hilton!</h1>
    <p>Check out the <a href="https://baconsale.com/">Baconsale website</a> where the famous Joel Hilton works!</p>
    <a href="https://baconsale.com/"><img src="~/baconsalekate.jpg" height="200px" /></a><br /><br />
    <p>Or click the image above to take you to the Baconsale website too (Joel is on the right).</p>
    <br /><img src="~/joel.png" height="300px"/><br /><br />
    <p>Joel also performs with the <a href="https://www.qwcomedy.com/">Quick Wits Comedy Studio</a> which is located in South Salt Lake and Midale areas.</p>
</div>